
/* start game styling */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid gray; */
	color: #f9ff00;
	font-family: 'Press Start 2P', cursive;
}
main {
	width: 80vw;
	margin: 20px auto;

}
body {
	background: #000000;
}
/* end game styling */

canvas {
	background: #fff;
}

#header {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
	text-shadow: 4px 4px black;
}
#score {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
	text-shadow: 4px 4px black;
}


#maze {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}


#body-score {
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#player-name {
	margin-bottom: 6vh;
	font-size: 20px;
}

#player-score {
	font-size: 25px;
}
#name-score {
	display:flex;
	flex-direction: column;
	color: red;
	text-shadow: 1px 1px white;
	background: rgb(0, 0, 0, 0.85);
	height:30vh;
}
#notifications {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;	
	background-color: #000000;
	padding: 10% 25% 30% 25%;
}
.shadowed {
	opacity: 0.8;
	font-size: 300%;
}

@keyframes color-me-in {
	0% {
	  background: #ffffff;
	}
	100% {
	  background: #000000;
	}
}